

# ValidationResult


## Properties

| Name | Type | Description | Notes |
|------------ | ------------- | ------------- | -------------|
|**email** | **String** |  |  [optional] |
|**status** | **String** |  |  [optional] |
|**subStatus** | **String** |  |  [optional] |
|**action** | **String** |  |  [optional] |
|**processedAt** | **OffsetDateTime** |  |  [optional] |



