openapi: 3.0.3
info:
  contact:
    email: support@mailodds.com
    name: MailOdds Support
    url: https://mailodds.com/contact
  description: "MailOdds provides email validation services to help maintain clean\
    \ email lists \nand improve deliverability. The API performs multiple validation\
    \ checks including \nformat verification, domain validation, MX record checking,\
    \ and disposable email detection.\n\n## Authentication\n\nAll API requests require\
    \ authentication using a Bearer token. Include your API key \nin the Authorization\
    \ header:\n\n```\nAuthorization: Bearer YOUR_API_KEY\n```\n\nAPI keys can be created\
    \ in the MailOdds dashboard.\n\n## Rate Limits\n\nRate limits vary by plan:\n\
    - Free: 10 requests/minute\n- Starter: 60 requests/minute  \n- Pro: 300 requests/minute\n\
    - Business: 1000 requests/minute\n- Enterprise: Custom limits\n\n## Response Format\n\
    \nAll responses include:\n- `schema_version`: API schema version (currently \"\
    1.0\")\n- `request_id`: Unique request identifier for debugging\n\nError responses\
    \ include:\n- `error`: Machine-readable error code\n- `message`: Human-readable\
    \ error description\n"
  license:
    name: Proprietary
    url: https://mailodds.com/terms
  termsOfService: https://mailodds.com/terms
  title: MailOdds Email Validation API
  version: 1.0.0
servers:
- description: Production server
  url: https://api.mailodds.com/v1
security:
- BearerAuth: []
tags:
- description: Single email validation endpoints
  name: Email Validation
- description: Bulk email validation jobs
  name: Bulk Validation
- description: Manage email/domain suppression lists
  name: Suppression Lists
- description: Custom rules to modify validation results
  name: Validation Policies
- description: Webhook configuration
  name: Webhooks
- description: Health and status endpoints
  name: System
- description: Send transactional emails
  name: Email Sending
- description: Manage sending domain authentication
  name: Sending Domains
- description: Manage subscriber lists and subscriptions
  name: Subscriber Lists
paths:
  /v1/validate:
    post:
      description: "Validate a single email address. Returns detailed validation results\
        \ including status, sub-status, and recommended action."
      operationId: validateEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationResponse"
          description: Validation result
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden - Insufficient permissions or no credits
      summary: Validate single email
      tags:
      - Email Validation
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/validate/batch:
    post:
      description: "Validate up to 100 email addresses synchronously. For larger lists,\
        \ use the bulk jobs API."
      operationId: validateBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/validateBatch_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/validateBatch_200_response"
          description: Batch validation results
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Validate multiple emails (sync)
      tags:
      - Email Validation
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/jobs:
    get:
      description: List all validation jobs for the authenticated account.
      operationId: listJobs
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          type: integer
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - pending
          - processing
          - completed
          - failed
          - cancelled
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobListResponse"
          description: List of jobs
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: List validation jobs
      tags:
      - Bulk Validation
      x-accepts:
      - application/json
    post:
      description: Create a new bulk validation job by submitting a JSON array of
        emails.
      operationId: createJob
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateJobRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
          description: Job created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Create bulk validation job (JSON)
      tags:
      - Bulk Validation
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/jobs/upload:
    post:
      description: "Create a new bulk validation job by uploading a CSV, Excel, or\
        \ TXT file."
      operationId: createJobUpload
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/createJobUpload_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
          description: Job created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Create bulk validation job (file upload)
      tags:
      - Bulk Validation
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /v1/jobs/upload/presigned:
    post:
      description: Get a presigned URL for uploading large files (>10MB) directly
        to S3.
      operationId: getPresignedUpload
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/getPresignedUpload_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PresignedUploadResponse"
          description: Presigned upload credentials
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: S3 not configured
      summary: Get S3 presigned upload URL
      tags:
      - Bulk Validation
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/jobs/upload/s3:
    post:
      description: Create a validation job from a file previously uploaded to S3.
      operationId: createJobFromS3
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createJobFromS3_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
          description: Job created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Create job from S3 upload
      tags:
      - Bulk Validation
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/jobs/{job_id}:
    delete:
      description: Permanently delete a completed or cancelled job and its results.
      operationId: deleteJob
      parameters:
      - explode: false
        in: path
        name: job_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteJob_200_response"
          description: Job deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Delete a job
      tags:
      - Bulk Validation
      x-accepts:
      - application/json
    get:
      description: Get the status and details of a specific validation job.
      operationId: getJob
      parameters:
      - explode: false
        in: path
        name: job_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
          description: Job details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get job status
      tags:
      - Bulk Validation
      x-accepts:
      - application/json
  /v1/jobs/{job_id}/results:
    get:
      description: "Download validation results in JSON, CSV, or NDJSON format."
      operationId: getJobResults
      parameters:
      - explode: false
        in: path
        name: job_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - csv
          - ndjson
          type: string
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          enum:
          - all
          - valid_only
          - invalid_only
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 1000
          maximum: 10000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultsResponse"
            text/csv:
              schema:
                type: string
            application/x-ndjson:
              schema:
                type: string
          description: Validation results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get job results
      tags:
      - Bulk Validation
      x-accepts:
      - application/json
      - application/x-ndjson
      - text/csv
  /v1/jobs/{job_id}/cancel:
    post:
      description: Cancel a pending or processing job. Partial results are preserved.
      operationId: cancelJob
      parameters:
      - explode: false
        in: path
        name: job_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
          description: Job cancelled
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Cancel a job
      tags:
      - Bulk Validation
      x-accepts:
      - application/json
  /v1/suppression:
    delete:
      description: Remove emails or domains from the suppression list.
      operationId: removeSuppression
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/removeSuppression_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/removeSuppression_200_response"
          description: Entries removed
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Remove suppression entries
      tags:
      - Suppression Lists
      x-content-type: application/json
      x-accepts:
      - application/json
    get:
      description: List all suppression entries for the account.
      operationId: listSuppression
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - email
          - domain
          type: string
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuppressionListResponse"
          description: Suppression list
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: List suppression entries
      tags:
      - Suppression Lists
      x-accepts:
      - application/json
    post:
      description: Add emails or domains to the suppression list.
      operationId: addSuppression
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddSuppressionRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddSuppressionResponse"
          description: Entries added
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Add suppression entries
      tags:
      - Suppression Lists
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/suppression/check:
    post:
      description: Check if an email is suppressed.
      operationId: checkSuppression
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/checkSuppression_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuppressionCheckResponse"
          description: Suppression check result
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Check suppression status
      tags:
      - Suppression Lists
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/suppression/stats:
    get:
      description: Get statistics about the suppression list.
      operationId: getSuppressionStats
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuppressionStatsResponse"
          description: Suppression statistics
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Get suppression statistics
      tags:
      - Suppression Lists
      x-accepts:
      - application/json
  /v1/telemetry/summary:
    get:
      description: Get validation metrics for your account. Useful for building dashboards
        and monitoring. Supports ETag caching.
      operationId: getTelemetrySummary
      parameters:
      - description: Time window for metrics
        explode: true
        in: query
        name: window
        required: false
        schema:
          default: 24h
          enum:
          - 1h
          - 24h
          - 30d
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TelemetrySummary"
          description: Telemetry summary
          headers:
            ETag:
              description: Hash of response for caching
              explode: false
              schema:
                type: string
              style: simple
            Cache-Control:
              description: Caching directive
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - use cached response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Get validation telemetry
      tags:
      - System
      x-accepts:
      - application/json
  /health:
    get:
      description: Check API health status. No authentication required.
      operationId: healthCheck
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/healthCheck_200_response"
          description: API is healthy
      security: []
      summary: Health check
      tags:
      - System
      x-accepts:
      - application/json
  /v1/policies:
    get:
      description: List all validation policies for your account. Includes plan limits.
      operationId: listPolicies
      parameters:
      - description: Include full rules in response
        explode: true
        in: query
        name: include_rules
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyListResponse"
          description: List of policies
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: List policies
      tags:
      - Validation Policies
      x-accepts:
      - application/json
    post:
      description: Create a new validation policy with rules.
      operationId: createPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePolicyRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyResponse"
          description: Policy created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          description: Plan limit exceeded
      summary: Create policy
      tags:
      - Validation Policies
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/policies/presets:
    get:
      description: Get available preset templates for quick policy creation.
      operationId: getPolicyPresets
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyPresetsResponse"
          description: Available presets
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Get policy presets
      tags:
      - Validation Policies
      x-accepts:
      - application/json
  /v1/policies/from-preset:
    post:
      description: Create a policy using a preset template.
      operationId: createPolicyFromPreset
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createPolicyFromPreset_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyResponse"
          description: Policy created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Create policy from preset
      tags:
      - Validation Policies
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/policies/{policy_id}:
    delete:
      description: Delete a policy and all its rules.
      operationId: deletePolicy
      parameters:
      - explode: false
        in: path
        name: policy_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deletePolicy_200_response"
          description: Policy deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          description: Policy not found
      summary: Delete policy
      tags:
      - Validation Policies
      x-accepts:
      - application/json
    get:
      description: Get a single policy with its rules.
      operationId: getPolicy
      parameters:
      - explode: false
        in: path
        name: policy_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyResponse"
          description: Policy details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          description: Policy not found
      summary: Get policy
      tags:
      - Validation Policies
      x-accepts:
      - application/json
    put:
      description: "Update a policy's settings (name, enabled, default)."
      operationId: updatePolicy
      parameters:
      - explode: false
        in: path
        name: policy_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updatePolicy_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyResponse"
          description: Policy updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          description: Policy not found
      summary: Update policy
      tags:
      - Validation Policies
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/policies/{policy_id}/rules:
    post:
      description: Add a new rule to an existing policy.
      operationId: addPolicyRule
      parameters:
      - explode: false
        in: path
        name: policy_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PolicyRule"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/addPolicyRule_201_response"
          description: Rule added
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          description: Rule limit exceeded
        "404":
          description: Policy not found
      summary: Add rule to policy
      tags:
      - Validation Policies
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/policies/{policy_id}/rules/{rule_id}:
    delete:
      description: Delete a rule from a policy.
      operationId: deletePolicyRule
      parameters:
      - explode: false
        in: path
        name: policy_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: rule_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deletePolicyRule_200_response"
          description: Rule deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          description: Policy or rule not found
      summary: Delete rule
      tags:
      - Validation Policies
      x-accepts:
      - application/json
  /v1/policies/test:
    post:
      description: Test how a policy would evaluate a validation result without affecting
        production.
      operationId: testPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/testPolicy_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyTestResponse"
          description: Test result
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          description: Policy not found
      summary: Test policy evaluation
      tags:
      - Validation Policies
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/deliver:
    post:
      description: "Send a transactional email through the safety pipeline. Validates\
        \ recipients, checks domain ownership, and queues for delivery. Requires a\
        \ verified sending domain."
      operationId: deliverEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeliverRequest"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliverResponse"
          description: Email accepted for delivery
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden - Insufficient permissions or no credits
      summary: Send a single email
      tags:
      - Email Sending
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/deliver/batch:
    post:
      description: Send a single message to up to 100 recipients. Shares the same
        message body across all recipients. Each recipient is processed independently.
      operationId: deliverBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchDeliverRequest"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchDeliverResponse"
          description: Batch accepted for delivery
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden - Insufficient permissions or no credits
      summary: Send to multiple recipients (max 100)
      tags:
      - Email Sending
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/sending-domains:
    get:
      description: List all sending domains for the authenticated account.
      operationId: listSendingDomains
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listSendingDomains_200_response"
          description: List of sending domains
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden - Insufficient permissions or no credits
      summary: List sending domains
      tags:
      - Sending Domains
      x-accepts:
      - application/json
    post:
      description: "Register a new sending domain with NS delegation. After adding,\
        \ configure DNS records and verify."
      operationId: createSendingDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createSendingDomain_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createSendingDomain_201_response"
          description: Domain created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden - Insufficient permissions or no credits
      summary: Add a sending domain
      tags:
      - Sending Domains
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/sending-domains/{domain_id}:
    delete:
      description: Permanently remove a sending domain from the account.
      operationId: deleteSendingDomain
      parameters:
      - explode: false
        in: path
        name: domain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deletePolicyRule_200_response"
          description: Domain deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Delete a sending domain
      tags:
      - Sending Domains
      x-accepts:
      - application/json
    get:
      description: Get details of a specific sending domain including DNS verification
        status.
      operationId: getSendingDomain
      parameters:
      - explode: false
        in: path
        name: domain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createSendingDomain_201_response"
          description: Domain details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get a sending domain
      tags:
      - Sending Domains
      x-accepts:
      - application/json
  /v1/sending-domains/{domain_id}/verify:
    post:
      description: "Check and verify all DNS records (DKIM, SPF, DMARC, MX, return\
        \ path) for the sending domain."
      operationId: verifySendingDomain
      parameters:
      - explode: false
        in: path
        name: domain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createSendingDomain_201_response"
          description: Verification result
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Verify domain DNS records
      tags:
      - Sending Domains
      x-accepts:
      - application/json
  /v1/sending-domains/{domain_id}/identity-score:
    get:
      description: "Get a composite DNS health score for the sending domain, checking\
        \ DKIM, SPF, DMARC, MX, and return path configuration."
      operationId: getSendingDomainIdentityScore
      parameters:
      - explode: false
        in: path
        name: domain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getSendingDomainIdentityScore_200_response"
          description: Identity score
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get domain identity score
      tags:
      - Sending Domains
      x-accepts:
      - application/json
  /v1/sending-stats:
    get:
      description: "Get aggregate sending statistics across all domains for the account,\
        \ including delivery rates, open rates, and click rates."
      operationId: getSendingStats
      parameters:
      - description: Time period
        explode: true
        in: query
        name: period
        required: false
        schema:
          default: 7d
          enum:
          - 7d
          - 30d
          - 90d
          type: string
        style: form
      - description: Filter by domain
        explode: true
        in: query
        name: domain_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getSendingStats_200_response"
          description: Sending statistics
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden - Insufficient permissions or no credits
      summary: Get sending statistics
      tags:
      - Sending Domains
      x-accepts:
      - application/json
  /v1/lists:
    get:
      description: List all subscriber lists for the authenticated account with pagination.
      operationId: getLists
      parameters:
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getLists_200_response"
          description: Paginated list of subscriber lists
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: List subscriber lists
      tags:
      - Subscriber Lists
      x-accepts:
      - application/json
    post:
      description: Create a new subscriber list. Use lists to organize subscribers
        and manage double opt-in confirmation flows.
      operationId: createList
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateListRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createList_201_response"
          description: List created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden - Insufficient permissions or no credits
      summary: Create a subscriber list
      tags:
      - Subscriber Lists
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/lists/{list_id}:
    delete:
      description: Soft-delete a subscriber list. Existing subscribers are retained
        but the list is no longer usable.
      operationId: deleteList
      parameters:
      - description: List UUID
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deletePolicyRule_200_response"
          description: List deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Delete a subscriber list
      tags:
      - Subscriber Lists
      x-accepts:
      - application/json
    get:
      description: Get details of a specific subscriber list including subscriber
        and confirmed counts.
      operationId: getList
      parameters:
      - description: List UUID
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createList_201_response"
          description: Subscriber list details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get a subscriber list
      tags:
      - Subscriber Lists
      x-accepts:
      - application/json
  /v1/lists/{list_id}/subscribers:
    get:
      description: List paginated subscribers for a specific list. Optionally filter
        by status.
      operationId: getSubscribers
      parameters:
      - description: List UUID
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 50
          maximum: 100
          type: integer
        style: form
      - description: Filter by subscriber status
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - pending
          - confirmed
          - unsubscribed
          - bounced
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getSubscribers_200_response"
          description: Paginated list of subscribers
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: List subscribers
      tags:
      - Subscriber Lists
      x-accepts:
      - application/json
  /v1/lists/{list_id}/subscribers/{subscriber_id}:
    delete:
      description: Set a subscriber's status to unsubscribed. The consent record is
        retained for compliance.
      operationId: unsubscribeSubscriber
      parameters:
      - description: List UUID
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          type: string
        style: simple
      - description: Subscriber UUID
        explode: false
        in: path
        name: subscriber_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/unsubscribeSubscriber_200_response"
          description: Subscriber unsubscribed
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Unsubscribe a subscriber
      tags:
      - Subscriber Lists
      x-accepts:
      - application/json
  /v1/subscribe/{list_id}:
    post:
      description: Add a subscriber to a list and initiate the double opt-in confirmation
        flow. The subscriber receives a confirmation email and must click the link
        to confirm. Rate limited to 10 requests/min per IP and 1000/hour per account.
      operationId: subscribe
      parameters:
      - description: List UUID
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubscribeRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/unsubscribeSubscriber_200_response"
          description: Subscriber created (pending confirmation)
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden - Insufficient permissions or no credits
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid email address
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Rate limit exceeded
      summary: Subscribe to a list
      tags:
      - Subscriber Lists
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/confirm/{token}:
    get:
      description: "Confirm a pending subscription via the token sent in the confirmation\
        \ email. No authentication required. Redirects to the list's configured redirect\
        \ URL if set, otherwise returns JSON. Tokens expire after 72 hours."
      operationId: confirmSubscription
      parameters:
      - description: Confirmation token from email
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/confirmSubscription_200_response"
          description: Subscription confirmed
        "302":
          description: Redirect to configured confirmation URL
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      security: []
      summary: Confirm subscription
      tags:
      - Subscriber Lists
      x-accepts:
      - application/json
components:
  responses:
    BadRequest:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: Bad request
    Unauthorized:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: Unauthorized - Invalid or missing API key
    Forbidden:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: Forbidden - Insufficient permissions or no credits
    NotFound:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
      description: Resource not found
  schemas:
    ErrorResponse:
      example:
        schema_version: "1.0"
        error: error
        message: message
        request_id: request_id
      properties:
        schema_version:
          example: "1.0"
          type: string
        request_id:
          description: Unique request identifier
          type: string
        error:
          description: Machine-readable error code
          type: string
        message:
          description: Human-readable error message
          type: string
      required:
      - error
      type: object
    ValidateRequest:
      example:
        depth: enhanced
        policy_id: 0
        email: email
      properties:
        email:
          description: Email address to validate
          format: email
          type: string
        depth:
          default: enhanced
          description: Validation depth. 'standard' skips SMTP verification.
          enum:
          - standard
          - enhanced
          type: string
        policy_id:
          description: Optional policy ID to use instead of default policy
          type: integer
      required:
      - email
      type: object
    ValidationResponse:
      description: Flat validation response. Conditional fields are omitted (not null)
        when not applicable.
      example:
        sub_status: format_invalid
        mx_host: mx_host
        role_account: true
        free_provider: true
        retry_after_ms: 0
        has_spf: true
        dmarc_policy: none
        catch_all: true
        suppression_match:
          reason: reason
          match_type: email
          match_value: match_value
        disposable: true
        policy_applied:
          rule_id: 1
          rule_type: rule_type
          policy_id: 6
          policy_name: policy_name
        schema_version: "1.0"
        depth: standard
        domain: domain
        mx_found: true
        has_dmarc: true
        dnsbl_listed: true
        action: accept
        processed_at: 2000-01-23T04:56:07.000+00:00
        smtp_check: true
        request_id: request_id
        email: email
        suggested_email: suggested_email
        status: valid
      properties:
        schema_version:
          example: "1.0"
          type: string
        request_id:
          description: Unique request identifier
          type: string
        email:
          type: string
        status:
          description: Validation status
          enum:
          - valid
          - invalid
          - catch_all
          - do_not_mail
          - unknown
          type: string
        action:
          description: Recommended action
          enum:
          - accept
          - accept_with_caution
          - reject
          - retry_later
          type: string
        sub_status:
          description: Detailed status reason. Omitted when none.
          enum:
          - format_invalid
          - mx_missing
          - mx_timeout
          - smtp_unreachable
          - smtp_rejected
          - disposable
          - role_account
          - greylisted
          - catch_all_detected
          - domain_not_found
          - suppression_match
          - restricted_military
          - restricted_sanctioned
          type: string
        domain:
          type: string
        mx_found:
          description: Whether MX records were found for the domain
          type: boolean
        mx_host:
          description: Primary MX hostname. Omitted when MX not resolved.
          type: string
        smtp_check:
          description: Whether SMTP verification passed. Omitted when SMTP not checked.
          type: boolean
        catch_all:
          description: Whether domain is catch-all. Omitted when SMTP not checked.
          type: boolean
        disposable:
          description: Whether domain is a known disposable email provider
          type: boolean
        role_account:
          description: "Whether address is a role account (e.g., info@, admin@)"
          type: boolean
        free_provider:
          description: "Whether domain is a known free email provider (e.g., gmail.com)"
          type: boolean
        depth:
          description: Validation depth used for this check
          enum:
          - standard
          - enhanced
          type: string
        processed_at:
          description: ISO 8601 timestamp of validation
          format: date-time
          type: string
        suggested_email:
          description: Typo correction suggestion. Omitted when no typo detected.
          type: string
        retry_after_ms:
          description: Suggested retry delay in milliseconds. Present only for retry_later
            action.
          type: integer
        has_spf:
          description: Whether the domain has an SPF record. Omitted for standard
            depth.
          type: boolean
        has_dmarc:
          description: Whether the domain has a DMARC record. Omitted for standard
            depth.
          type: boolean
        dmarc_policy:
          description: The domain's DMARC policy. Omitted when no DMARC record found.
          enum:
          - none
          - quarantine
          - reject
          type: string
        dnsbl_listed:
          description: Whether the domain's MX IP is on a DNS blocklist (Spamhaus
            ZEN). Omitted for standard depth.
          type: boolean
        suppression_match:
          $ref: "#/components/schemas/ValidationResponse_suppression_match"
        policy_applied:
          $ref: "#/components/schemas/ValidationResponse_policy_applied"
      required:
      - action
      - depth
      - disposable
      - domain
      - email
      - free_provider
      - mx_found
      - processed_at
      - role_account
      - schema_version
      - status
      type: object
    CreateJobRequest:
      description: "Bulk jobs use the account's default validation policy. To use\
        \ a specific policy, set it as default via the Policies API."
      example:
        emails:
        - emails
        - emails
        - emails
        - emails
        - emails
        metadata: "{}"
        webhook_url: https://openapi-generator.tech
        idempotency_key: idempotency_key
        dedup: false
      properties:
        emails:
          description: List of emails to validate
          items:
            format: email
            type: string
          maxItems: 100000
          type: array
        dedup:
          default: false
          description: Remove duplicate emails
          type: boolean
        metadata:
          description: Custom metadata for the job
          type: object
        webhook_url:
          description: URL for completion webhook
          format: uri
          type: string
        idempotency_key:
          description: Unique key for idempotent requests
          type: string
      required:
      - emails
      type: object
    JobResponse:
      example:
        schema_version: "1.0"
        job:
          summary:
            valid: 5
            do_not_mail: 7
            invalid: 5
            catch_all: 2
            unknown: 9
            cancelled_pending: 3
          progress_percent: 14
          completed_at: 2000-01-23T04:56:07.000+00:00
          metadata: "{}"
          total_count: 0
          created_at: 2000-01-23T04:56:07.000+00:00
          processed_count: 6
          id: job_abc123xyz
          status: pending
        request_id: request_id
      properties:
        schema_version:
          example: "1.0"
          type: string
        request_id:
          description: Unique request identifier
          type: string
        job:
          $ref: "#/components/schemas/Job"
      type: object
    Job:
      example:
        summary:
          valid: 5
          do_not_mail: 7
          invalid: 5
          catch_all: 2
          unknown: 9
          cancelled_pending: 3
        progress_percent: 14
        completed_at: 2000-01-23T04:56:07.000+00:00
        metadata: "{}"
        total_count: 0
        created_at: 2000-01-23T04:56:07.000+00:00
        processed_count: 6
        id: job_abc123xyz
        status: pending
      properties:
        id:
          example: job_abc123xyz
          type: string
        status:
          enum:
          - pending
          - processing
          - completed
          - failed
          - cancelled
          type: string
        total_count:
          type: integer
        processed_count:
          type: integer
        progress_percent:
          maximum: 100
          minimum: 0
          type: integer
        summary:
          $ref: "#/components/schemas/Job_summary"
        created_at:
          format: date-time
          type: string
        completed_at:
          format: date-time
          type: string
        metadata:
          type: object
      type: object
    JobListResponse:
      example:
        schema_version: schema_version
        pagination:
          per_page: 4
          total: 7
          page: 2
          total_pages: 1
        jobs:
        - summary:
            valid: 5
            do_not_mail: 7
            invalid: 5
            catch_all: 2
            unknown: 9
            cancelled_pending: 3
          progress_percent: 14
          completed_at: 2000-01-23T04:56:07.000+00:00
          metadata: "{}"
          total_count: 0
          created_at: 2000-01-23T04:56:07.000+00:00
          processed_count: 6
          id: job_abc123xyz
          status: pending
        - summary:
            valid: 5
            do_not_mail: 7
            invalid: 5
            catch_all: 2
            unknown: 9
            cancelled_pending: 3
          progress_percent: 14
          completed_at: 2000-01-23T04:56:07.000+00:00
          metadata: "{}"
          total_count: 0
          created_at: 2000-01-23T04:56:07.000+00:00
          processed_count: 6
          id: job_abc123xyz
          status: pending
        request_id: request_id
      properties:
        schema_version:
          type: string
        request_id:
          description: Unique request identifier
          type: string
        jobs:
          items:
            $ref: "#/components/schemas/Job"
          type: array
        pagination:
          $ref: "#/components/schemas/Pagination"
      type: object
    ResultsResponse:
      example:
        schema_version: schema_version
        pagination:
          per_page: 4
          total: 7
          page: 2
          total_pages: 1
        request_id: request_id
        results:
        - sub_status: sub_status
          action: accept
          processed_at: 2000-01-23T04:56:07.000+00:00
          email: email
          status: valid
        - sub_status: sub_status
          action: accept
          processed_at: 2000-01-23T04:56:07.000+00:00
          email: email
          status: valid
      properties:
        schema_version:
          type: string
        request_id:
          description: Unique request identifier
          type: string
        results:
          items:
            $ref: "#/components/schemas/ValidationResult"
          type: array
        pagination:
          $ref: "#/components/schemas/Pagination"
      type: object
    ValidationResult:
      example:
        sub_status: sub_status
        action: accept
        processed_at: 2000-01-23T04:56:07.000+00:00
        email: email
        status: valid
      properties:
        email:
          type: string
        status:
          enum:
          - valid
          - invalid
          - catch_all
          - do_not_mail
          - unknown
          type: string
        sub_status:
          type: string
        action:
          enum:
          - accept
          - accept_with_caution
          - reject
          - retry_later
          type: string
        processed_at:
          format: date-time
          type: string
      type: object
    Pagination:
      example:
        per_page: 4
        total: 7
        page: 2
        total_pages: 1
      properties:
        page:
          type: integer
        per_page:
          type: integer
        total:
          type: integer
        total_pages:
          type: integer
      type: object
    PresignedUploadResponse:
      example:
        schema_version: schema_version
        upload:
          s3_key: s3_key
          fields: "{}"
          expires_in: 0
          url: https://openapi-generator.tech
        request_id: request_id
      properties:
        schema_version:
          type: string
        request_id:
          description: Unique request identifier
          type: string
        upload:
          $ref: "#/components/schemas/PresignedUploadResponse_upload"
      type: object
    SuppressionListResponse:
      example:
        schema_version: schema_version
        entries:
        - reason: reason
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 0
          type: email
          value: value
        - reason: reason
          created_at: 2000-01-23T04:56:07.000+00:00
          id: 0
          type: email
          value: value
        pagination:
          per_page: 4
          total: 7
          page: 2
          total_pages: 1
        request_id: request_id
      properties:
        schema_version:
          type: string
        request_id:
          description: Unique request identifier
          type: string
        entries:
          items:
            $ref: "#/components/schemas/SuppressionEntry"
          type: array
        pagination:
          $ref: "#/components/schemas/Pagination"
      type: object
    SuppressionEntry:
      example:
        reason: reason
        created_at: 2000-01-23T04:56:07.000+00:00
        id: 0
        type: email
        value: value
      properties:
        id:
          type: integer
        type:
          enum:
          - email
          - domain
          type: string
        value:
          type: string
        reason:
          type: string
        created_at:
          format: date-time
          type: string
      type: object
    AddSuppressionRequest:
      example:
        entries:
        - reason: reason
          type: email
          value: value
        - reason: reason
          type: email
          value: value
      properties:
        entries:
          items:
            $ref: "#/components/schemas/AddSuppressionRequest_entries_inner"
          type: array
      required:
      - entries
      type: object
    AddSuppressionResponse:
      example:
        schema_version: schema_version
        duplicates: 6
        total: 5
        added: 0
        invalid: 1
        request_id: request_id
      properties:
        schema_version:
          type: string
        request_id:
          description: Unique request identifier
          type: string
        added:
          description: Number of entries successfully added
          type: integer
        duplicates:
          description: Number of duplicate entries skipped
          type: integer
        invalid:
          description: Number of invalid entries rejected
          type: integer
        total:
          description: Total entries in the request
          type: integer
      type: object
    SuppressionCheckResponse:
      example:
        schema_version: schema_version
        match_type: email
        suppressed: true
        match_value: match_value
        request_id: request_id
        email: email
      properties:
        schema_version:
          type: string
        request_id:
          description: Unique request identifier
          type: string
        email:
          type: string
        suppressed:
          type: boolean
        match_type:
          enum:
          - email
          - domain
          type: string
        match_value:
          type: string
      type: object
    SuppressionStatsResponse:
      example:
        schema_version: schema_version
        total: 0
        by_type:
          domain: 1
          email: 6
        request_id: request_id
      properties:
        schema_version:
          type: string
        request_id:
          description: Unique request identifier
          type: string
        total:
          type: integer
        by_type:
          $ref: "#/components/schemas/SuppressionStatsResponse_by_type"
      type: object
    TelemetrySummary:
      description: Validation metrics for building dashboards and monitoring.
      example:
        schemaVersion: "1.0"
        timezone: UTC
        topReasons:
        - reason: reason
          count: 7
        - reason: reason
          count: 7
        rates:
          reject: 5.962133916683182
          deliverable: 1.4658129805029452
          suppressed: 2.3021358869347655
          unknown: 5.637376656633329
        generatedAt: 2000-01-23T04:56:07.000+00:00
        window: 1h
        totals:
          validations: 0
          creditsUsed: 6
        topDomains:
        - volume: 9
          catchAll: 7.386281948385884
          reject: 2.027123023002322
          domain: domain
          deliverable: 3.616076749251911
          unknown: 4.145608029883936
        - volume: 9
          catchAll: 7.386281948385884
          reject: 2.027123023002322
          domain: domain
          deliverable: 3.616076749251911
          unknown: 4.145608029883936
      properties:
        schemaVersion:
          example: "1.0"
          type: string
        window:
          enum:
          - 1h
          - 24h
          - 30d
          type: string
        generatedAt:
          format: date-time
          type: string
        timezone:
          example: UTC
          type: string
        totals:
          $ref: "#/components/schemas/TelemetrySummary_totals"
        rates:
          $ref: "#/components/schemas/TelemetrySummary_rates"
        topReasons:
          description: Top rejection/status reasons
          items:
            $ref: "#/components/schemas/TelemetrySummary_topReasons_inner"
          type: array
        topDomains:
          description: Top domains by volume
          items:
            $ref: "#/components/schemas/TelemetrySummary_topDomains_inner"
          type: array
      type: object
    PolicyListResponse:
      example:
        schema_version: schema_version
        policies:
        - is_enabled: true
          name: name
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          rules:
          - is_enabled: true
            sequence: 5
            condition: "{}"
            action:
              action: accept
            id: 5
            type: status_override
          - is_enabled: true
            sequence: 5
            condition: "{}"
            action:
              action: accept
            id: 5
            type: status_override
          id: 0
          is_default: true
          priority: 6
          rule_count: 1
        - is_enabled: true
          name: name
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          rules:
          - is_enabled: true
            sequence: 5
            condition: "{}"
            action:
              action: accept
            id: 5
            type: status_override
          - is_enabled: true
            sequence: 5
            condition: "{}"
            action:
              action: accept
            id: 5
            type: status_override
          id: 0
          is_default: true
          priority: 6
          rule_count: 1
        request_id: request_id
        limits:
          max_rules_per_policy: 7
          max_policies: 2
          plan: plan
      properties:
        schema_version:
          type: string
        request_id:
          description: Unique request identifier
          type: string
        policies:
          items:
            $ref: "#/components/schemas/Policy"
          type: array
        limits:
          $ref: "#/components/schemas/PolicyListResponse_limits"
      type: object
    Policy:
      example:
        is_enabled: true
        name: name
        description: description
        created_at: 2000-01-23T04:56:07.000+00:00
        rules:
        - is_enabled: true
          sequence: 5
          condition: "{}"
          action:
            action: accept
          id: 5
          type: status_override
        - is_enabled: true
          sequence: 5
          condition: "{}"
          action:
            action: accept
          id: 5
          type: status_override
        id: 0
        is_default: true
        priority: 6
        rule_count: 1
      properties:
        id:
          type: integer
        name:
          type: string
        description:
          type: string
        is_default:
          type: boolean
        is_enabled:
          type: boolean
        priority:
          type: integer
        rule_count:
          type: integer
        rules:
          items:
            $ref: "#/components/schemas/PolicyRule"
          type: array
        created_at:
          format: date-time
          type: string
      type: object
    PolicyRule:
      example:
        is_enabled: true
        sequence: 5
        condition: "{}"
        action:
          action: accept
        id: 5
        type: status_override
      properties:
        id:
          type: integer
        type:
          description: Rule type determines how condition is evaluated
          enum:
          - status_override
          - domain_filter
          - check_requirement
          - sub_status_override
          type: string
        condition:
          description: "Condition depends on rule type. status_override: {status},\
            \ domain_filter: {domain_mode, domains}, check_requirement: {check, required},\
            \ sub_status_override: {sub_status}"
          type: object
        action:
          $ref: "#/components/schemas/PolicyRule_action"
        sequence:
          type: integer
        is_enabled:
          type: boolean
      required:
      - action
      - condition
      - type
      type: object
    CreatePolicyRequest:
      example:
        name: name
        description: description
        rules:
        - is_enabled: true
          sequence: 5
          condition: "{}"
          action:
            action: accept
          id: 5
          type: status_override
        - is_enabled: true
          sequence: 5
          condition: "{}"
          action:
            action: accept
          id: 5
          type: status_override
        is_default: false
      properties:
        name:
          maxLength: 100
          type: string
        description:
          maxLength: 500
          type: string
        is_default:
          default: false
          type: boolean
        rules:
          items:
            $ref: "#/components/schemas/PolicyRule"
          type: array
      required:
      - name
      type: object
    PolicyResponse:
      example:
        schema_version: schema_version
        request_id: request_id
        policy:
          is_enabled: true
          name: name
          description: description
          created_at: 2000-01-23T04:56:07.000+00:00
          rules:
          - is_enabled: true
            sequence: 5
            condition: "{}"
            action:
              action: accept
            id: 5
            type: status_override
          - is_enabled: true
            sequence: 5
            condition: "{}"
            action:
              action: accept
            id: 5
            type: status_override
          id: 0
          is_default: true
          priority: 6
          rule_count: 1
      properties:
        schema_version:
          type: string
        request_id:
          description: Unique request identifier
          type: string
        policy:
          $ref: "#/components/schemas/Policy"
      type: object
    PolicyPresetsResponse:
      example:
        schema_version: schema_version
        presets:
        - name: name
          description: description
          rules:
          - is_enabled: true
            sequence: 5
            condition: "{}"
            action:
              action: accept
            id: 5
            type: status_override
          - is_enabled: true
            sequence: 5
            condition: "{}"
            action:
              action: accept
            id: 5
            type: status_override
          id: id
        - name: name
          description: description
          rules:
          - is_enabled: true
            sequence: 5
            condition: "{}"
            action:
              action: accept
            id: 5
            type: status_override
          - is_enabled: true
            sequence: 5
            condition: "{}"
            action:
              action: accept
            id: 5
            type: status_override
          id: id
        request_id: request_id
      properties:
        schema_version:
          type: string
        request_id:
          description: Unique request identifier
          type: string
        presets:
          items:
            $ref: "#/components/schemas/PolicyPresetsResponse_presets_inner"
          type: array
      type: object
    DeliverRequest:
      example:
        domain_id: domain_id
        headers: "{}"
        reply_to: reply_to
        subject: subject
        campaign_type: order_confirmation
        options:
          validate_first: true
        from: from
        html: html
        structured_data: "{}"
        to:
        - name: name
          email: email
        - name: name
          email: email
        text: text
        tags:
        - tags
        - tags
      properties:
        to:
          description: List of recipient email addresses
          items:
            $ref: "#/components/schemas/DeliverRequest_to_inner"
          type: array
        from:
          description: Sender email address (must match sending domain)
          type: string
        subject:
          description: Email subject line
          type: string
        html:
          description: HTML email body
          type: string
        text:
          description: Plain text email body
          type: string
        domain_id:
          description: Sending domain UUID
          type: string
        reply_to:
          description: Reply-to address
          type: string
        headers:
          description: Extra email headers
          type: object
        tags:
          description: Tags for categorization
          items:
            type: string
          type: array
        campaign_type:
          description: Campaign type for JSON-LD auto-generation
          enum:
          - order_confirmation
          - shipping_notification
          - subscription_confirm
          - review_request
          - event_invitation
          - promotional
          - welcome
          - password_reset
          - appointment_reminder
          - ticket_confirmation
          type: string
        structured_data:
          $ref: "#/components/schemas/DeliverRequest_structured_data"
        options:
          $ref: "#/components/schemas/DeliverRequest_options"
      required:
      - domain_id
      - from
      - subject
      - to
      type: object
    DeliverResponse:
      example:
        schema_version: schema_version
        delivery:
          warmup_limited: true
          pool: pool
          lane: lane
        content_scan: "{}"
        message_id: message_id
        request_id: request_id
        validation: "{}"
        status: queued
      properties:
        schema_version:
          type: string
        request_id:
          description: Unique request identifier
          type: string
        message_id:
          description: Unique message identifier
          type: string
        status:
          description: Delivery status
          enum:
          - queued
          type: string
        delivery:
          $ref: "#/components/schemas/DeliverResponse_delivery"
        validation:
          description: Pre-send validation results (when validate_first is true)
          type: object
        content_scan:
          description: Content scan results
          type: object
      type: object
    BatchDeliverRequest:
      description: Same fields as DeliverRequest but 'to' accepts up to 100 recipients.
      example:
        domain_id: domain_id
        headers: "{}"
        reply_to: reply_to
        subject: subject
        campaign_type: campaign_type
        options: "{}"
        from: from
        html: html
        structured_data: "{}"
        to:
        - to
        - to
        - to
        - to
        - to
        text: text
        tags:
        - tags
        - tags
      properties:
        to:
          description: List of recipient email addresses (max 100)
          items:
            format: email
            type: string
          maxItems: 100
          type: array
        from:
          type: string
        subject:
          type: string
        html:
          type: string
        text:
          type: string
        domain_id:
          type: string
        reply_to:
          type: string
        headers:
          type: object
        tags:
          items:
            type: string
          type: array
        campaign_type:
          type: string
        structured_data:
          $ref: "#/components/schemas/BatchDeliverRequest_structured_data"
        options:
          type: object
      required:
      - domain_id
      - from
      - subject
      - to
      type: object
    BatchDeliverResponse:
      example:
        schema_version: schema_version
        delivery:
          queued_at: 2000-01-23T04:56:07.000+00:00
          pool: pool
          lane: lane
        total: 0
        rejected:
        - reason: reason
          sub_status: sub_status
          email: email
          status: status
        - reason: reason
          sub_status: sub_status
          email: email
          status: status
        accepted: 6
        request_id: request_id
        status: queued
      properties:
        schema_version:
          type: string
        request_id:
          description: Unique request identifier
          type: string
        total:
          description: Total recipients submitted
          type: integer
        accepted:
          description: Number of recipients accepted for delivery
          type: integer
        rejected:
          description: Recipients that were rejected (suppressed or failed validation)
          items:
            $ref: "#/components/schemas/BatchDeliverResponse_rejected_inner"
          type: array
        status:
          description: Batch status
          enum:
          - queued
          - all_rejected
          type: string
        delivery:
          $ref: "#/components/schemas/BatchDeliverResponse_delivery"
      type: object
    SendingDomain:
      example:
        bimi_enabled: true
        domain_type: domain_type
        bimi_vmc_url: bimi_vmc_url
        updated_at: 2000-01-23T04:56:07.000+00:00
        dns_records:
          ns:
            verified_at: 2000-01-23T04:56:07.000+00:00
            host: host
            type: type
            targets:
            - targets
            - targets
            status: pending
        forward_replies_to: forward_replies_to
        domain: domain
        created_at: 2000-01-23T04:56:07.000+00:00
        id: id
        bimi_svg_url: bimi_svg_url
        status: pending_dns
        dkim_selector: dkim_selector
      properties:
        id:
          description: Domain UUID
          type: string
        domain:
          description: Domain name
          type: string
        domain_type:
          description: Domain type (ns_delegated)
          type: string
        status:
          description: Domain verification status
          enum:
          - pending_dns
          - dns_partial
          - active
          - suspended
          type: string
        dkim_selector:
          description: DKIM selector (e.g. mo1)
          type: string
        dns_records:
          $ref: "#/components/schemas/SendingDomain_dns_records"
        bimi_svg_url:
          description: BIMI SVG logo URL
          nullable: true
          type: string
        bimi_vmc_url:
          description: BIMI VMC certificate URL
          nullable: true
          type: string
        bimi_enabled:
          description: Whether BIMI is enabled
          type: boolean
        forward_replies_to:
          description: Reply forwarding address
          nullable: true
          type: string
        created_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    SendingDomainIdentityScore:
      example:
        checks:
          return_path:
            score: 6.027456183070403
            status: status
          dkim:
            score: 6.027456183070403
            status: status
          spf:
            score: 6.027456183070403
            status: status
          mx:
            score: 6.027456183070403
            status: status
          dmarc:
            score: 1.4658129805029452
            status: status
            policy: policy
        overall_score: 0.8008281904610115
      properties:
        overall_score:
          description: Composite score 0-100
          type: number
        checks:
          $ref: "#/components/schemas/SendingDomainIdentityScore_checks"
      type: object
    CreateListRequest:
      example:
        confirmation_from_name: confirmation_from_name
        confirmation_subject: confirmation_subject
        confirmation_redirect_url: https://openapi-generator.tech
        name: name
        description: description
      properties:
        name:
          description: List name (unique per account)
          type: string
        description:
          description: Optional list description
          type: string
        confirmation_redirect_url:
          description: URL to redirect subscribers after confirmation
          format: uri
          type: string
        confirmation_subject:
          description: Custom confirmation email subject
          type: string
        confirmation_from_name:
          description: Custom sender name for confirmation emails
          type: string
      required:
      - name
      type: object
    SubscribeRequest:
      example:
        page_url: https://openapi-generator.tech
        metadata: "{}"
        name: name
        form_id: form_id
        email: email
      properties:
        email:
          description: Subscriber email address
          format: email
          type: string
        name:
          description: Subscriber name
          type: string
        metadata:
          description: Custom metadata key-value pairs
          type: object
        page_url:
          description: URL of the page where the subscription form was submitted (for
            consent proof)
          format: uri
          type: string
        form_id:
          description: Identifier of the form used to subscribe (for consent proof)
          type: string
      required:
      - email
      type: object
    SubscriberList:
      example:
        account_id: 0
        confirmation_from_name: confirmation_from_name
        updated_at: 2000-01-23T04:56:07.000+00:00
        confirmation_subject: confirmation_subject
        subscriber_count: 6
        confirmation_redirect_url: confirmation_redirect_url
        name: name
        confirmed_count: 1
        description: description
        created_at: 2000-01-23T04:56:07.000+00:00
        id: id
      properties:
        id:
          description: List UUID
          type: string
        account_id:
          description: Account ID
          type: integer
        name:
          description: List name
          type: string
        description:
          description: List description
          nullable: true
          type: string
        confirmation_redirect_url:
          description: Redirect URL after confirmation
          nullable: true
          type: string
        confirmation_subject:
          description: Confirmation email subject
          nullable: true
          type: string
        confirmation_from_name:
          description: Confirmation email sender name
          nullable: true
          type: string
        subscriber_count:
          description: Total subscriber count
          type: integer
        confirmed_count:
          description: Confirmed subscriber count
          type: integer
        created_at:
          format: date-time
          type: string
        updated_at:
          format: date-time
          type: string
      type: object
    Subscriber:
      example:
        consent_source_ip: consent_source_ip
        validation_result: "{}"
        metadata: "{}"
        list_id: list_id
        consent_form_id: consent_form_id
        created_at: 2000-01-23T04:56:07.000+00:00
        unsubscribed_at: 2000-01-23T04:56:07.000+00:00
        name: name
        consent_timestamp: 2000-01-23T04:56:07.000+00:00
        id: id
        confirmed_at: 2000-01-23T04:56:07.000+00:00
        email: email
        status: pending
        consent_page_url: consent_page_url
      properties:
        id:
          description: Subscriber UUID
          type: string
        list_id:
          description: List UUID
          type: string
        email:
          format: email
          type: string
        name:
          nullable: true
          type: string
        status:
          enum:
          - pending
          - confirmed
          - unsubscribed
          - bounced
          type: string
        consent_source_ip:
          description: IP address of subscription
          nullable: true
          type: string
        consent_page_url:
          description: Page URL where form was submitted
          nullable: true
          type: string
        consent_form_id:
          description: Form identifier
          nullable: true
          type: string
        consent_timestamp:
          format: date-time
          nullable: true
          type: string
        confirmed_at:
          format: date-time
          nullable: true
          type: string
        unsubscribed_at:
          format: date-time
          nullable: true
          type: string
        validation_result:
          description: Email validation result
          nullable: true
          type: object
        metadata:
          description: Custom metadata
          type: object
        created_at:
          format: date-time
          type: string
      type: object
    PolicyTestResponse:
      example:
        schema_version: schema_version
        original: "{}"
        modified: "{}"
        matched_rule: "{}"
        request_id: request_id
        rules_evaluated: 0
      properties:
        schema_version:
          type: string
        request_id:
          description: Unique request identifier
          type: string
        original:
          description: Original validation result before policy
          type: object
        modified:
          description: Result after policy applied
          type: object
        matched_rule:
          description: "The rule that matched, or null if none matched"
          nullable: true
          type: object
        rules_evaluated:
          type: integer
      type: object
    validateBatch_request:
      properties:
        emails:
          description: List of emails to validate
          items:
            format: email
            type: string
          maxItems: 100
          type: array
        depth:
          default: enhanced
          enum:
          - standard
          - enhanced
          type: string
        policy_id:
          description: Optional policy ID
          type: integer
      required:
      - emails
      type: object
    validateBatch_200_response_summary:
      example:
        valid: 6
        do_not_mail: 2
        invalid: 1
        catch_all: 5
        unknown: 5
      properties:
        valid:
          type: integer
        invalid:
          type: integer
        catch_all:
          type: integer
        unknown:
          type: integer
        do_not_mail:
          type: integer
      type: object
    validateBatch_200_response:
      example:
        schema_version: schema_version
        summary:
          valid: 6
          do_not_mail: 2
          invalid: 1
          catch_all: 5
          unknown: 5
        total: 0
        request_id: request_id
        results:
        - sub_status: format_invalid
          mx_host: mx_host
          role_account: true
          free_provider: true
          retry_after_ms: 0
          has_spf: true
          dmarc_policy: none
          catch_all: true
          suppression_match:
            reason: reason
            match_type: email
            match_value: match_value
          disposable: true
          policy_applied:
            rule_id: 1
            rule_type: rule_type
            policy_id: 6
            policy_name: policy_name
          schema_version: "1.0"
          depth: standard
          domain: domain
          mx_found: true
          has_dmarc: true
          dnsbl_listed: true
          action: accept
          processed_at: 2000-01-23T04:56:07.000+00:00
          smtp_check: true
          request_id: request_id
          email: email
          suggested_email: suggested_email
          status: valid
        - sub_status: format_invalid
          mx_host: mx_host
          role_account: true
          free_provider: true
          retry_after_ms: 0
          has_spf: true
          dmarc_policy: none
          catch_all: true
          suppression_match:
            reason: reason
            match_type: email
            match_value: match_value
          disposable: true
          policy_applied:
            rule_id: 1
            rule_type: rule_type
            policy_id: 6
            policy_name: policy_name
          schema_version: "1.0"
          depth: standard
          domain: domain
          mx_found: true
          has_dmarc: true
          dnsbl_listed: true
          action: accept
          processed_at: 2000-01-23T04:56:07.000+00:00
          smtp_check: true
          request_id: request_id
          email: email
          suggested_email: suggested_email
          status: valid
      properties:
        schema_version:
          type: string
        request_id:
          description: Unique request identifier
          type: string
        total:
          type: integer
        summary:
          $ref: "#/components/schemas/validateBatch_200_response_summary"
        results:
          items:
            $ref: "#/components/schemas/ValidationResponse"
          type: array
      type: object
    createJobUpload_request:
      properties:
        file:
          description: "CSV, Excel (.xlsx, .xls), ODS, or TXT file"
          format: binary
          type: string
        dedup:
          default: false
          description: Remove duplicate emails
          type: boolean
        metadata:
          description: JSON metadata for the job
          type: string
      required:
      - file
      type: object
    getPresignedUpload_request:
      properties:
        filename:
          description: Original filename
          type: string
        content_type:
          description: File MIME type
          type: string
      required:
      - filename
      type: object
    createJobFromS3_request:
      properties:
        s3_key:
          description: S3 key from presigned upload
          type: string
        dedup:
          default: false
          type: boolean
      required:
      - s3_key
      type: object
    deleteJob_200_response:
      example:
        schema_version: schema_version
        deleted: true
        request_id: request_id
      properties:
        schema_version:
          type: string
        request_id:
          description: Unique request identifier
          type: string
        deleted:
          type: boolean
      type: object
    removeSuppression_request:
      properties:
        entries:
          items:
            type: string
          type: array
      required:
      - entries
      type: object
    removeSuppression_200_response:
      example:
        schema_version: schema_version
        removed: 0
[...]
