openapi: 3.0.3
info:
  contact:
    email: support@mailodds.com
    name: MailOdds Support
    url: https://mailodds.com/contact
  description: "MailOdds is an email platform for validation, sending, campaigns,\
    \ deliverability monitoring, and analytics. The API performs multi-layer validation\
    \ checks, delivers transactional and campaign email with DKIM dual signing, and\
    \ tracks engagement with privacy-first analytics.\n\n## Authentication\n\nAll\
    \ API requests require authentication using a Bearer token. Include your API key\
    \ \nin the Authorization header:\n\n```\nAuthorization: Bearer YOUR_API_KEY\n\
    ```\n\nAPI keys can be created in the MailOdds dashboard.\n\n## Rate Limits\n\n\
    Rate limits vary by plan:\n- Free: 10 requests/minute\n- Starter: 60 requests/minute\
    \  \n- Pro: 300 requests/minute\n- Business: 1000 requests/minute\n- Enterprise:\
    \ Custom limits\n\n## Response Format\n\nAll responses include:\n- `schema_version`:\
    \ API schema version (currently \"1.0\")\n- `request_id`: Unique request identifier\
    \ for debugging\n\nError responses include:\n- `error`: Machine-readable error\
    \ code\n- `message`: Human-readable error description\n\n## Webhooks\n\nMailOdds\
    \ can send webhook notifications for job completion and email delivery events.\n\
    Configure webhooks in the dashboard or per-job via the `webhook_url` field.\n\n\
    ### Event Types\n\n| Event | Description |\n|-------|-------------|\n| `job.completed`\
    \ | Validation job finished processing |\n| `job.failed` | Validation job failed\
    \ |\n| `message.queued` | Email queued for delivery |\n| `message.delivered` |\
    \ Email delivered to recipient |\n| `message.bounced` | Email bounced |\n| `message.deferred`\
    \ | Email delivery deferred |\n| `message.failed` | Email delivery failed |\n\
    | `message.opened` | Recipient opened the email |\n| `message.clicked` | Recipient\
    \ clicked a link |\n\n### Payload Format\n\n```json\n{\n  \"event\": \"job.completed\"\
    ,\n  \"job\": { ... },\n  \"timestamp\": \"2026-01-15T10:30:00Z\"\n}\n```\n\n\
    ### Webhook Signing\n\nIf a webhook secret is configured, each request includes\
    \ an `X-MailOdds-Signature` header\ncontaining an HMAC-SHA256 hex digest of the\
    \ request body.\n\n**Verification pseudocode:**\n```\nexpected = HMAC-SHA256(webhook_secret,\
    \ request_body)\nvalid = constant_time_compare(request.headers[\"X-MailOdds-Signature\"\
    ], hex(expected))\n```\n\nThe payload is serialized with compact JSON (no extra\
    \ whitespace, sorted keys) before signing.\n\n### Headers\n\nAll webhook requests\
    \ include:\n- `Content-Type: application/json`\n- `User-Agent: MailOdds-Webhook/1.0`\n\
    - `X-MailOdds-Event: {event_type}`\n- `X-Request-Id: {uuid}`\n- `X-MailOdds-Signature:\
    \ {hmac}` (when secret is configured)\n\n### Retry Policy\n\nFailed deliveries\
    \ (non-2xx response or timeout) are retried up to 3 times with exponential backoff\
    \ (10s, 60s, 300s).\n"
  license:
    name: Proprietary
    url: https://mailodds.com/terms
  termsOfService: https://mailodds.com/terms
  title: MailOdds Email Platform API
  version: 1.0.0
servers:
- description: Production server
  url: https://api.mailodds.com/v1
security:
- BearerAuth: []
tags:
- description: Send transactional emails
  name: Email Sending
- description: Manage sending domain authentication
  name: Sending Domains
- description: Create and send email campaigns with A/B testing
  name: Campaigns
- description: Campaign performance analytics and funnel reporting
  name: Campaign Analytics
- description: Single email validation endpoints
  name: Email Validation
- description: Bulk email validation jobs
  name: Bulk Validation
- description: Manage email/domain suppression lists
  name: Suppression Lists
- description: Custom rules to modify validation results
  name: Validation Policies
- description: Aggregate sender reputation and deliverability scoring
  name: Sender Health
- description: Analyze bounce logs and identify deliverability issues
  name: Bounce Analysis
- description: Manage subscriber lists and subscriptions
  name: Subscriber Lists
- description: Manage contact lists built from validation jobs
  name: Contact Lists
- description: Monitor DMARC compliance and authentication alignment
  name: DMARC Monitoring
- description: Monitor IP and domain blacklist status
  name: Blacklist Monitoring
- description: SMTP handshake and MX configuration audits
  name: Server Tests
- description: Email spam scoring and deliverability checks
  name: Spam Checks
- description: LLM-powered email content analysis
  name: Content Classification
- description: Per-message delivery and engagement event logs
  name: Message Events
- description: Webhook configuration
  name: Webhooks
- description: Health and status endpoints
  name: System
paths:
  /v1/validate:
    post:
      description: "Validate a single email address. Returns detailed validation results\
        \ including status, sub-status, and recommended action."
      operationId: validateEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationResponse"
          description: Validation result
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden - Insufficient permissions or no credits
      summary: Validate single email
      tags:
      - Email Validation
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/validate/batch:
    post:
      description: "Validate up to 100 email addresses synchronously. For larger lists,\
        \ use the bulk jobs API."
      operationId: validateBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/validateBatch_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/validateBatch_200_response"
          description: Batch validation results
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Validate multiple emails (sync)
      tags:
      - Email Validation
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/jobs:
    get:
      description: List all validation jobs for the authenticated account.
      operationId: listJobs
      parameters:
      - description: Pagination cursor (ISO timestamp from previous response)
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Results per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 50
          maximum: 100
          type: integer
        style: form
      - explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - pending
          - processing
          - completed
          - failed
          - cancelled
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobListResponse"
          description: List of jobs
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: List validation jobs
      tags:
      - Bulk Validation
      x-accepts:
      - application/json
    post:
      description: Create a new bulk validation job by submitting a JSON array of
        emails.
      operationId: createJob
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateJobRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
          description: Job created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Create bulk validation job (JSON)
      tags:
      - Bulk Validation
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/jobs/upload:
    post:
      description: "Create a new bulk validation job by uploading a CSV, Excel, or\
        \ TXT file."
      operationId: createJobUpload
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/createJobUpload_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
          description: Job created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Create bulk validation job (file upload)
      tags:
      - Bulk Validation
      x-content-type: multipart/form-data
      x-accepts:
      - application/json
  /v1/jobs/upload/presigned:
    post:
      description: Get a presigned URL for uploading large files (>10MB) directly
        to S3.
      operationId: getPresignedUpload
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/getPresignedUpload_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PresignedUploadResponse"
          description: Presigned upload credentials
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: S3 not configured
      summary: Get S3 presigned upload URL
      tags:
      - Bulk Validation
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/jobs/upload/s3:
    post:
      description: Create a validation job from a file previously uploaded to S3.
      operationId: createJobFromS3
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createJobFromS3_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
          description: Job created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Create job from S3 upload
      tags:
      - Bulk Validation
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/jobs/{job_id}:
    delete:
      description: Permanently delete a completed or cancelled job and its results.
      operationId: deleteJob
      parameters:
      - explode: false
        in: path
        name: job_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deleteJob_200_response"
          description: Job deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Delete a job
      tags:
      - Bulk Validation
      x-accepts:
      - application/json
    get:
      description: Get the status and details of a specific validation job.
      operationId: getJob
      parameters:
      - explode: false
        in: path
        name: job_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
          description: Job details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get job status
      tags:
      - Bulk Validation
      x-accepts:
      - application/json
  /v1/jobs/{job_id}/results:
    get:
      description: "Download validation results in JSON, CSV, or NDJSON format."
      operationId: getJobResults
      parameters:
      - explode: false
        in: path
        name: job_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: format
        required: false
        schema:
          default: json
          enum:
          - json
          - csv
          - ndjson
          type: string
        style: form
      - explode: true
        in: query
        name: filter
        required: false
        schema:
          enum:
          - all
          - valid_only
          - invalid_only
          type: string
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 1000
          maximum: 10000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResultsResponse"
            text/csv:
              schema:
                type: string
            application/x-ndjson:
              schema:
                type: string
          description: Validation results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get job results
      tags:
      - Bulk Validation
      x-accepts:
      - application/json
      - application/x-ndjson
      - text/csv
  /v1/jobs/{job_id}/cancel:
    post:
      description: Cancel a pending or processing job. Partial results are preserved.
      operationId: cancelJob
      parameters:
      - explode: false
        in: path
        name: job_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobResponse"
          description: Job cancelled
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Cancel a job
      tags:
      - Bulk Validation
      x-accepts:
      - application/json
  /v1/suppression:
    delete:
      description: Remove emails or domains from the suppression list.
      operationId: removeSuppression
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/removeSuppression_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/removeSuppression_200_response"
          description: Entries removed
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Remove suppression entries
      tags:
      - Suppression Lists
      x-content-type: application/json
      x-accepts:
      - application/json
    get:
      description: List all suppression entries for the account.
      operationId: listSuppression
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 50
          type: integer
        style: form
      - explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - email
          - domain
          type: string
        style: form
      - explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "Filter by entry source (e.g. api, bounce, complaint)"
        explode: true
        in: query
        name: source
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuppressionListResponse"
          description: Suppression list
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: List suppression entries
      tags:
      - Suppression Lists
      x-accepts:
      - application/json
    post:
      description: Add emails or domains to the suppression list.
      operationId: addSuppression
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddSuppressionRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddSuppressionResponse"
          description: Entries added
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Add suppression entries
      tags:
      - Suppression Lists
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/suppression/check:
    post:
      description: Check if an email is suppressed.
      operationId: checkSuppression
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/checkSuppression_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuppressionCheckResponse"
          description: Suppression check result
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Check suppression status
      tags:
      - Suppression Lists
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/suppression/stats:
    get:
      description: Get statistics about the suppression list.
      operationId: getSuppressionStats
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuppressionStatsResponse"
          description: Suppression statistics
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Get suppression statistics
      tags:
      - Suppression Lists
      x-accepts:
      - application/json
  /v1/suppression/audit:
    get:
      description: "Get a chronological log of suppression list changes (additions,\
        \ removals)."
      operationId: getSuppressionAuditLog
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 20
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuppressionAuditResponse"
          description: Audit log entries
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Get suppression audit log
      tags:
      - Suppression Lists
      x-accepts:
      - application/json
  /v1/telemetry/summary:
    get:
      description: Get validation metrics for your account. Useful for building dashboards
        and monitoring. Supports ETag caching.
      operationId: getTelemetrySummary
      parameters:
      - description: Time window for metrics
        explode: true
        in: query
        name: window
        required: false
        schema:
          default: 24h
          enum:
          - 1h
          - 24h
          - 30d
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TelemetrySummary"
          description: Telemetry summary
          headers:
            ETag:
              description: Hash of response for caching
              explode: false
              schema:
                type: string
              style: simple
            Cache-Control:
              description: Caching directive
              explode: false
              schema:
                type: string
              style: simple
        "304":
          description: Not Modified - use cached response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Get validation telemetry
      tags:
      - System
      x-accepts:
      - application/json
  /health:
    get:
      description: Check API health status. No authentication required.
      operationId: healthCheck
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/healthCheck_200_response"
          description: API is healthy
      security: []
      summary: Health check
      tags:
      - System
      x-accepts:
      - application/json
  /v1/policies:
    get:
      description: List all validation policies for your account. Includes plan limits.
      operationId: listPolicies
      parameters:
      - description: Include full rules in response
        explode: true
        in: query
        name: include_rules
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyListResponse"
          description: List of policies
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: List policies
      tags:
      - Validation Policies
      x-accepts:
      - application/json
    post:
      description: Create a new validation policy with rules.
      operationId: createPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePolicyRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyResponse"
          description: Policy created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          description: Plan limit exceeded
      summary: Create policy
      tags:
      - Validation Policies
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/policies/presets:
    get:
      description: Get available preset templates for quick policy creation.
      operationId: getPolicyPresets
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyPresetsResponse"
          description: Available presets
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Get policy presets
      tags:
      - Validation Policies
      x-accepts:
      - application/json
  /v1/policies/from-preset:
    post:
      description: Create a policy using a preset template.
      operationId: createPolicyFromPreset
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createPolicyFromPreset_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyResponse"
          description: Policy created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Create policy from preset
      tags:
      - Validation Policies
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/policies/{policy_id}:
    delete:
      description: Delete a policy and all its rules.
      operationId: deletePolicy
      parameters:
      - explode: false
        in: path
        name: policy_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deletePolicy_200_response"
          description: Policy deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          description: Policy not found
      summary: Delete policy
      tags:
      - Validation Policies
      x-accepts:
      - application/json
    get:
      description: Get a single policy with its rules.
      operationId: getPolicy
      parameters:
      - explode: false
        in: path
        name: policy_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyResponse"
          description: Policy details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          description: Policy not found
      summary: Get policy
      tags:
      - Validation Policies
      x-accepts:
      - application/json
    put:
      description: "Update a policy's settings (name, enabled, default)."
      operationId: updatePolicy
      parameters:
      - explode: false
        in: path
        name: policy_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/updatePolicy_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyResponse"
          description: Policy updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          description: Policy not found
      summary: Update policy
      tags:
      - Validation Policies
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/policies/{policy_id}/rules:
    post:
      description: Add a new rule to an existing policy.
      operationId: addPolicyRule
      parameters:
      - explode: false
        in: path
        name: policy_id
        required: true
        schema:
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PolicyRule"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/addPolicyRule_201_response"
          description: Rule added
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          description: Rule limit exceeded
        "404":
          description: Policy not found
      summary: Add rule to policy
      tags:
      - Validation Policies
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/policies/{policy_id}/rules/{rule_id}:
    delete:
      description: Delete a rule from a policy.
      operationId: deletePolicyRule
      parameters:
      - explode: false
        in: path
        name: policy_id
        required: true
        schema:
          type: integer
        style: simple
      - explode: false
        in: path
        name: rule_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deletePolicyRule_200_response"
          description: Rule deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          description: Policy or rule not found
      summary: Delete rule
      tags:
      - Validation Policies
      x-accepts:
      - application/json
  /v1/policies/test:
    post:
      description: Test how a policy would evaluate a validation result without affecting
        production.
      operationId: testPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/testPolicy_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PolicyTestResponse"
          description: Test result
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          description: Policy not found
      summary: Test policy evaluation
      tags:
      - Validation Policies
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/deliver:
    post:
      description: "Send a transactional email through the safety pipeline. Validates\
        \ recipients, checks domain ownership, and queues for delivery. Requires a\
        \ verified sending domain."
      operationId: deliverEmail
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeliverRequest"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeliverResponse"
          description: Email accepted for delivery
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden - Insufficient permissions or no credits
      summary: Send a single email
      tags:
      - Email Sending
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/deliver/batch:
    post:
      description: Send a single message to up to 100 recipients. Shares the same
        message body across all recipients. Each recipient is processed independently.
      operationId: deliverBatch
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchDeliverRequest"
        required: true
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchDeliverResponse"
          description: Batch accepted for delivery
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden - Insufficient permissions or no credits
      summary: Send to multiple recipients (max 100)
      tags:
      - Email Sending
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/sending-domains:
    get:
      description: List all sending domains for the authenticated account.
      operationId: listSendingDomains
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listSendingDomains_200_response"
          description: List of sending domains
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden - Insufficient permissions or no credits
      summary: List sending domains
      tags:
      - Sending Domains
      x-accepts:
      - application/json
    post:
      description: "Register a new sending domain with NS delegation. After adding,\
        \ configure DNS records and verify."
      operationId: createSendingDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createSendingDomain_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createSendingDomain_201_response"
          description: Domain created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden - Insufficient permissions or no credits
      summary: Add a sending domain
      tags:
      - Sending Domains
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/sending-domains/{domain_id}:
    delete:
      description: Permanently remove a sending domain from the account.
      operationId: deleteSendingDomain
      parameters:
      - explode: false
        in: path
        name: domain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deletePolicyRule_200_response"
          description: Domain deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Delete a sending domain
      tags:
      - Sending Domains
      x-accepts:
      - application/json
    get:
      description: Get details of a specific sending domain including DNS verification
        status.
      operationId: getSendingDomain
      parameters:
      - explode: false
        in: path
        name: domain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createSendingDomain_201_response"
          description: Domain details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get a sending domain
      tags:
      - Sending Domains
      x-accepts:
      - application/json
  /v1/sending-domains/{domain_id}/verify:
    post:
      description: "Check and verify all DNS records (DKIM, SPF, DMARC, MX, return\
        \ path) for the sending domain."
      operationId: verifySendingDomain
      parameters:
      - explode: false
        in: path
        name: domain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createSendingDomain_201_response"
          description: Verification result
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Verify domain DNS records
      tags:
      - Sending Domains
      x-accepts:
      - application/json
  /v1/sending-domains/{domain_id}/identity-score:
    get:
      description: "Get a composite DNS health score for the sending domain, checking\
        \ DKIM, SPF, DMARC, MX, and return path configuration."
      operationId: getSendingDomainIdentityScore
      parameters:
      - explode: false
        in: path
        name: domain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getSendingDomainIdentityScore_200_response"
          description: Identity score
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get domain identity score
      tags:
      - Sending Domains
      x-accepts:
      - application/json
  /v1/sending-stats:
    get:
      description: "Get aggregate sending statistics across all domains for the account,\
        \ including delivery rates, open rates, and click rates."
      operationId: getSendingStats
      parameters:
      - description: Time period
        explode: true
        in: query
        name: period
        required: false
        schema:
          default: 7d
          enum:
          - 7d
          - 30d
          - 90d
          type: string
        style: form
      - description: Filter by domain
        explode: true
        in: query
        name: domain_id
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getSendingStats_200_response"
          description: Sending statistics
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden - Insufficient permissions or no credits
      summary: Get sending statistics
      tags:
      - Sending Domains
      x-accepts:
      - application/json
  /v1/lists:
    get:
      description: List all subscriber lists for the authenticated account with pagination.
      operationId: getLists
      parameters:
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getLists_200_response"
          description: Paginated list of subscriber lists
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: List subscriber lists
      tags:
      - Subscriber Lists
      x-accepts:
      - application/json
    post:
      description: Create a new subscriber list. Use lists to organize subscribers
        and manage double opt-in confirmation flows.
      operationId: createList
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateListRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createList_201_response"
          description: List created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden - Insufficient permissions or no credits
      summary: Create a subscriber list
      tags:
      - Subscriber Lists
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/lists/{list_id}:
    delete:
      description: Soft-delete a subscriber list. Existing subscribers are retained
        but the list is no longer usable.
      operationId: deleteList
      parameters:
      - description: List UUID
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/deletePolicyRule_200_response"
          description: List deleted
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Delete a subscriber list
      tags:
      - Subscriber Lists
      x-accepts:
      - application/json
    get:
      description: Get details of a specific subscriber list including subscriber
        and confirmed counts.
      operationId: getList
      parameters:
      - description: List UUID
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createList_201_response"
          description: Subscriber list details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get a subscriber list
      tags:
      - Subscriber Lists
      x-accepts:
      - application/json
  /v1/lists/{list_id}/subscribers:
    get:
      description: List paginated subscribers for a specific list. Optionally filter
        by status.
      operationId: getSubscribers
      parameters:
      - description: List UUID
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 50
          maximum: 100
          type: integer
        style: form
      - description: Filter by subscriber status
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - pending
          - confirmed
          - unsubscribed
          - bounced
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getSubscribers_200_response"
          description: Paginated list of subscribers
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: List subscribers
      tags:
      - Subscriber Lists
      x-accepts:
      - application/json
  /v1/lists/{list_id}/subscribers/{subscriber_id}:
    delete:
      description: Set a subscriber's status to unsubscribed. The consent record is
        retained for compliance.
      operationId: unsubscribeSubscriber
      parameters:
      - description: List UUID
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          type: string
        style: simple
      - description: Subscriber UUID
        explode: false
        in: path
        name: subscriber_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/unsubscribeSubscriber_200_response"
          description: Subscriber unsubscribed
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Unsubscribe a subscriber
      tags:
      - Subscriber Lists
      x-accepts:
      - application/json
  /v1/subscribe/{list_id}:
    post:
      description: Add a subscriber to a list and initiate the double opt-in confirmation
        flow. The subscriber receives a confirmation email and must click the link
        to confirm. Rate limited to 10 requests/min per IP and 1000/hour per account.
      operationId: subscribe
      parameters:
      - description: List UUID
        explode: false
        in: path
        name: list_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubscribeRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/unsubscribeSubscriber_200_response"
          description: Subscriber created (pending confirmation)
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden - Insufficient permissions or no credits
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid email address
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Rate limit exceeded
      summary: Subscribe to a list
      tags:
      - Subscriber Lists
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/confirm/{token}:
    get:
      description: "Confirm a pending subscription via the token sent in the confirmation\
        \ email. No authentication required. Redirects to the list's configured redirect\
        \ URL if set, otherwise returns JSON. Tokens expire after 72 hours."
      operationId: confirmSubscription
      parameters:
      - description: Confirmation token from email
        explode: false
        in: path
        name: token
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/confirmSubscription_200_response"
          description: Subscription confirmed
        "302":
          description: Redirect to configured confirmation URL
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      security: []
      summary: Confirm subscription
      tags:
      - Subscriber Lists
      x-accepts:
      - application/json
  /v1/campaigns:
    get:
      description: List all campaigns for the authenticated account with pagination.
      operationId: listCampaigns
      parameters:
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 25
          maximum: 100
          type: integer
        style: form
      - description: Filter by campaign status
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - draft
          - scheduled
          - sending
          - sent
          - cancelled
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listCampaigns_200_response"
          description: Paginated list of campaigns
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: List campaigns
      tags:
      - Campaigns
      x-accepts:
      - application/json
    post:
      description: Create a new email campaign. Campaigns target a subscriber list
        and support A/B variant testing.
      operationId: createCampaign
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCampaignRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignResponse"
          description: Campaign created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden - Insufficient permissions or no credits
      summary: Create a campaign
      tags:
      - Campaigns
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/campaigns/{campaign_id}:
    get:
      description: Get a campaign by ID including delivery statistics and engagement
        metrics.
      operationId: getCampaign
      parameters:
      - description: Campaign UUID
        explode: false
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignResponse"
          description: Campaign details with stats
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get campaign with stats
      tags:
      - Campaigns
      x-accepts:
      - application/json
  /v1/campaigns/{campaign_id}/send:
    post:
      description: Begin sending a campaign immediately. The campaign must be in draft
        status with at least one variant and a target list.
      operationId: sendCampaign
      parameters:
      - description: Campaign UUID
        explode: false
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignResponse"
          description: Campaign accepted for sending
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Send a campaign
      tags:
      - Campaigns
      x-accepts:
      - application/json
  /v1/campaigns/{campaign_id}/schedule:
    post:
      description: Schedule a campaign for future delivery. Provide a send_at timestamp
        in ISO 8601 format.
      operationId: scheduleCampaign
      parameters:
      - description: Campaign UUID
        explode: false
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/scheduleCampaign_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignResponse"
          description: Campaign scheduled
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Schedule a campaign
      tags:
      - Campaigns
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/campaigns/{campaign_id}/cancel:
    post:
      description: Cancel a scheduled or in-progress campaign. Messages already delivered
        are not recalled.
      operationId: cancelCampaign
      parameters:
      - description: Campaign UUID
        explode: false
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CampaignResponse"
          description: Campaign cancelled
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Cancel a campaign
      tags:
      - Campaigns
      x-accepts:
      - application/json
  /v1/campaigns/{campaign_id}/variants:
    post:
      description: "Add an A/B test variant to a campaign. Each variant has its own\
        \ subject, body, and traffic weight. The campaign must be in draft status."
      operationId: createCampaignVariant
      parameters:
      - description: Campaign UUID
        explode: false
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVariantRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createCampaignVariant_201_response"
          description: Variant created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Create A/B variant
      tags:
      - Campaigns
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/campaigns/{campaign_id}/ab-results:
    get:
      description: "Get per-variant performance metrics for an A/B test campaign including\
        \ open rate, click rate, and statistical confidence."
      operationId: getCampaignABResults
      parameters:
      - description: Campaign UUID
        explode: false
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getCampaignABResults_200_response"
          description: A/B test results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get A/B test results
      tags:
      - Campaign Analytics
      x-accepts:
      - application/json
  /v1/campaigns/{campaign_id}/funnel:
    get:
      description: "Get the full delivery and engagement funnel for a campaign showing\
        \ progression from sent through delivered, opened, and clicked."
      operationId: getCampaignFunnel
      parameters:
      - description: Campaign UUID
        explode: false
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getCampaignFunnel_200_response"
          description: Campaign funnel analytics
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get campaign funnel
      tags:
      - Campaign Analytics
      x-accepts:
      - application/json
  /v1/campaigns/{campaign_id}/delivery-confidence:
    get:
      description: "Get a predicted delivery confidence score before sending a campaign.\
        \ Evaluates list quality, sender reputation, and domain authentication."
      operationId: getCampaignDeliveryConfidence
      parameters:
      - description: Campaign UUID
        explode: false
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getCampaignDeliveryConfidence_200_response"
          description: Delivery confidence score
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get pre-send delivery confidence
      tags:
      - Campaign Analytics
      x-accepts:
      - application/json
  /v1/sender-health:
    get:
      description: "Get an aggregate sender health score (0-100) across all sending\
        \ domains. Factors in delivery rate, bounce rate, complaint rate, and authentication\
        \ status."
      operationId: getSenderHealth
      parameters:
      - description: Time period for health calculation
        explode: true
        in: query
        name: period
        required: false
        schema:
          default: 30d
          enum:
          - 7d
          - 30d
          - 90d
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getSenderHealth_200_response"
          description: Sender health score
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden - Insufficient permissions or no credits
      summary: Get sender health score
      tags:
      - Sender Health
      x-accepts:
      - application/json
  /v1/sender-health/trend:
    get:
      description: Get historical sender health scores over time for trend analysis.
        Returns daily data points for the requested period.
      operationId: getSenderHealthTrend
      parameters:
      - description: Time period for trend data
        explode: true
        in: query
        name: period
        required: false
        schema:
          default: 30d
          enum:
          - 7d
          - 30d
          - 90d
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getSenderHealthTrend_200_response"
          description: Sender health trend
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden - Insufficient permissions or no credits
      summary: Get sender health trend
      tags:
      - Sender Health
      x-accepts:
      - application/json
  /v1/bounce-analyses:
    post:
      description: "Submit bounce log data for analysis. Identifies patterns, categorizes\
        \ bounce types, and provides remediation recommendations."
      operationId: createBounceAnalysis
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/createBounceAnalysis_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BounceAnalysisResponse"
          description: Bounce analysis created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Analyze bounce logs
      tags:
      - Bounce Analysis
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/bounce-analyses/{analysis_id}:
    get:
      description: "Get the results of a bounce analysis including category breakdown,\
        \ top offenders, and recommendations."
      operationId: getBounceAnalysis
      parameters:
      - description: Bounce analysis UUID
        explode: false
        in: path
        name: analysis_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BounceAnalysisResponse"
          description: Bounce analysis results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get bounce analysis
      tags:
      - Bounce Analysis
      x-accepts:
      - application/json
  /v1/bounce-analyses/{analysis_id}/records:
    get:
      description: Get individual bounce records from an analysis with pagination.
      operationId: getBounceRecords
      parameters:
      - description: Bounce analysis UUID
        explode: false
        in: path
        name: analysis_id
        required: true
        schema:
          type: string
        style: simple
      - description: Page number
        explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - description: Items per page
        explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 50
          maximum: 200
          type: integer
        style: form
      - description: Filter by bounce type
        explode: true
        in: query
        name: type
        required: false
        schema:
          enum:
          - hard
          - soft
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getBounceRecords_200_response"
          description: Bounce records
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get bounce records
      tags:
      - Bounce Analysis
      x-accepts:
      - application/json
  /v1/bounce-analyses/{analysis_id}/cross-reference:
    get:
      description: Match bounced emails against your validation history to identify
        emails that were validated as deliverable but later bounced.
      operationId: crossReferenceBounces
      parameters:
      - description: Bounce analysis UUID
        explode: false
        in: path
        name: analysis_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/crossReferenceBounces_200_response"
          description: Cross-reference results
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Cross-reference bounces with validation logs
      tags:
      - Bounce Analysis
      x-accepts:
      - application/json
  /v1/campaigns/{campaign_id}/conversions/attribution:
    get:
      description: Get first-touch and last-touch attribution comparison for campaign
        conversions.
      operationId: getCampaignAttribution
      parameters:
      - description: Campaign UUID
        explode: false
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getCampaignAttribution_200_response"
          description: Attribution data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get campaign attribution
      tags:
      - Campaign Analytics
      x-accepts:
      - application/json
  /v1/campaigns/{campaign_id}/provider-intelligence:
    get:
      description: "Get per-provider delivery and engagement breakdown for a campaign\
        \ (e.g. Gmail, Outlook, Yahoo)."
      operationId: getCampaignProviderIntelligence
      parameters:
      - description: Campaign UUID
        explode: false
        in: path
        name: campaign_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getCampaignProviderIntelligence_200_response"
          description: Provider intelligence data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get provider intelligence
      tags:
      - Campaign Analytics
      x-accepts:
      - application/json
  /v1/dmarc-domains:
    get:
      description: List all domains being monitored for DMARC compliance.
      operationId: listDmarcDomains
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listDmarcDomains_200_response"
          description: List of monitored domains
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: List DMARC domains
      tags:
      - DMARC Monitoring
      x-accepts:
      - application/json
    post:
      description: Add a domain for DMARC monitoring. A unique reporting address is
        generated for receiving aggregate DMARC reports.
      operationId: addDmarcDomain
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/addDmarcDomain_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/addDmarcDomain_201_response"
          description: Domain added
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Add DMARC domain
      tags:
      - DMARC Monitoring
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/dmarc-domains/{domain_id}:
    get:
      description: Get a single DMARC domain with summary statistics including pass/fail
        rates.
      operationId: getDmarcDomain
      parameters:
      - description: DMARC domain UUID
        explode: false
        in: path
        name: domain_id
        required: true
        schema:
          type: string
        style: simple
      - description: Number of days for summary stats
        explode: true
        in: query
        name: days
        required: false
        schema:
          default: 30
          maximum: 365
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getDmarcDomain_200_response"
          description: Domain with summary stats
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get DMARC domain
      tags:
      - DMARC Monitoring
      x-accepts:
      - application/json
  /v1/dmarc-domains/{domain_id}/verify:
    post:
      description: Check that the domain has the correct DMARC TXT record pointing
        to the MailOdds reporting address.
      operationId: verifyDmarcDomain
      parameters:
      - description: DMARC domain UUID
        explode: false
        in: path
        name: domain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/addDmarcDomain_201_response"
          description: Verification result
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Verify DMARC DNS records
      tags:
      - DMARC Monitoring
      x-accepts:
      - application/json
  /v1/dmarc-domains/{domain_id}/sources:
    get:
      description: Get sending IPs that have sent email for this domain with their
        DKIM/SPF alignment status.
      operationId: getDmarcSources
      parameters:
      - description: DMARC domain UUID
        explode: false
        in: path
        name: domain_id
        required: true
        schema:
          type: string
        style: simple
      - description: Number of days to look back
        explode: true
        in: query
        name: days
        required: false
        schema:
          default: 30
          maximum: 365
          type: integer
        style: form
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getDmarcSources_200_response"
          description: Sending sources with alignment status
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get DMARC sending sources
      tags:
      - DMARC Monitoring
      x-accepts:
      - application/json
  /v1/dmarc-domains/{domain_id}/trend:
    get:
      description: Get daily pass/fail trend data for DMARC authentication over the
        specified period.
      operationId: getDmarcTrend
      parameters:
      - description: DMARC domain UUID
        explode: false
        in: path
        name: domain_id
        required: true
        schema:
          type: string
        style: simple
      - description: Number of days of trend data
        explode: true
        in: query
        name: days
        required: false
        schema:
          default: 30
          maximum: 365
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getDmarcTrend_200_response"
          description: Daily trend data
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get DMARC trend
      tags:
      - DMARC Monitoring
      x-accepts:
      - application/json
  /v1/dmarc-domains/{domain_id}/recommendation:
    get:
      description: Get a recommendation for upgrading the domain's DMARC policy based
        on alignment data.
      operationId: getDmarcRecommendation
      parameters:
      - description: DMARC domain UUID
        explode: false
        in: path
        name: domain_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getDmarcRecommendation_200_response"
          description: Policy recommendation
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get DMARC policy recommendation
      tags:
      - DMARC Monitoring
      x-accepts:
      - application/json
  /v1/blacklist-monitors:
    get:
      description: List all blacklist monitors for the authenticated account.
      operationId: listBlacklistMonitors
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listBlacklistMonitors_200_response"
          description: List of monitors
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: List blacklist monitors
      tags:
      - Blacklist Monitoring
      x-accepts:
      - application/json
    post:
      description: Add an IP address or domain to monitor against DNS blacklists.
        An initial check is run immediately.
      operationId: addBlacklistMonitor
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/addBlacklistMonitor_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/addBlacklistMonitor_201_response"
          description: Monitor created with initial check result
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Add blacklist monitor
      tags:
      - Blacklist Monitoring
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/blacklist-monitors/{monitor_id}/check:
    post:
      description: Run an on-demand DNSBL check for a monitored IP or domain.
      operationId: runBlacklistCheck
      parameters:
      - description: Monitor UUID
        explode: false
        in: path
        name: monitor_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/runBlacklistCheck_200_response"
          description: Check result
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Run blacklist check
      tags:
      - Blacklist Monitoring
      x-accepts:
      - application/json
  /v1/blacklist-monitors/{monitor_id}/history:
    get:
      description: Get the listing and delisting timeline for a monitored IP or domain.
      operationId: getBlacklistHistory
      parameters:
      - description: Monitor UUID
        explode: false
        in: path
        name: monitor_id
        required: true
        schema:
          type: string
        style: simple
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/getBlacklistHistory_200_response"
          description: Check history
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get blacklist check history
      tags:
      - Blacklist Monitoring
      x-accepts:
      - application/json
  /v1/server-tests:
    get:
      description: List past server test results with pagination.
      operationId: listServerTests
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listServerTests_200_response"
          description: List of server tests
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: List server tests
      tags:
      - Server Tests
      x-accepts:
      - application/json
    post:
      description: Run an SMTP handshake test and MX configuration audit for a domain.
      operationId: runServerTest
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/runServerTest_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/runServerTest_201_response"
          description: Test result
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Bad request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
      summary: Run server test
      tags:
      - Server Tests
      x-content-type: application/json
      x-accepts:
      - application/json
  /v1/server-tests/{test_id}:
    get:
      description: Get the detailed results of a specific server test.
      operationId: getServerTest
      parameters:
      - description: Server test UUID
        explode: false
        in: path
        name: test_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/runServerTest_201_response"
          description: Server test details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Get server test
      tags:
      - Server Tests
      x-accepts:
      - application/json
  /v1/contact-lists:
    get:
      description: List contact lists for the authenticated account. Contact lists
        are built from validated email jobs.
      operationId: listContactLists
      parameters:
      - explode: true
        in: query
        name: page
        required: false
        schema:
          default: 1
          type: integer
        style: form
      - explode: true
        in: query
        name: per_page
        required: false
        schema:
          default: 20
          maximum: 100
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listContactLists_200_response"
          description: List of contact lists
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorized - Invalid or missing API key
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Forbidden - Insufficient permissions or no credits
      summary: List contact lists
      tags:
[...]
